<!-- Sidebar  -->
<!-- script src="/assests/js/addProduct/addProduct.js"></script -->
<nav id="sidebar">
    <div class="sidebar-header">


        <a href="/home/index">
            <h3>Admin Dashboard</h3>
        </a>
        <p class="text-left" style="color: black;">Admin: {{ user.username }}</p>



    </div>

    <ul class="list-unstyled components">
        <li class="active">
            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="fas fa-home"></i>
                Products
            </a>
            <ul class="collapse list-unstyled" id="homeSubmenu">
                <li>
                    <a href="/home/addProduct">Add product</a>
                </li>
                <li>
                    <a href="/home/listProduct">View Products</a>
                </li>

            </ul>
        </li>


    </ul>


</nav>

<!-- Page Content  -->
<div id="content">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a href="/home/logout">
                <p style="color:black;float:right;">LOG OUT</p>
            </a>

            <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <i class="fas fa-align-justify"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item active">
                        {{!-- <a class="nav-link" href="/login">Log out --}}
            </div>
        </div>
    </nav>
    <div class="content">
        <div class="container text-align-center">
            <h2>{{viewTitle}}</h2>

            <form action="" method="POST">
                <input type="hidden" name="_id" value="{{Product._id}}">
                <div class="form-group">
                    <label>Product Name</label>
                    <input id="title" type="text" class="form-control" name="title" value="{{Product.title}}" required
                        autofocus required>
                </div>
                <div class="form-group">
                    <label>Product Price</label>
                    <input id="price" type="text" class="form-control" name="price" value="{{Product.price}}" required
                        data-eye required>
                </div>
                <div class="form-group">
                    <label> Image URL</label>
                    <input type="text" class="form-control" name="imagePath" id="imagePath"
                        value="{{Product.imagePath}}" required>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>

    </div>





</div>