<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Sidebar  -->
<nav id="sidebar">
    <div class="sidebar-header">

        <h3>Admin Dashboard</h3>


    </div>

    <ul class="list-unstyled components">
        <li class="active">
            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="fas fa-home"></i>
                Products
            </a>
            <ul class="collapse list-unstyled" id="homeSubmenu">
                <li>
                    <a href="/home/addProduct">Add product</a>
                </li>
                <li>
                    <a href="/home/listProduct">View Products</a>
                </li>

            </ul>
        </li>


    </ul>


</nav>


<div id="content">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">


            <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <i class="fas fa-align-justify"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="">Log out
            </div>
        </div>
    </nav>
    <div class="content">
        <p>{{viewTitle}}</p>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th style="color: brown;">Product Name</th>
                    <th style="color: brown;">Price</th>
                    <th style="color: brown;">Product Image</th>



                </tr>
            </thead>
            <tbody>
                {{#each listProduct}}
                <tr>
                    <td>{{this.productName}}</td>
                    <td>{{this.productPrice}}</td>
                    <td>{{this.originalname}}</td>
                    <td>

                        <a href="/home/addProduct/{{this._id}}"><i class="fas fa-pencil-alt"></i></a>
                        <a href="/home/listProduct/{{this._id}}"
                            onclick="return confirm('Are you sure to delete this record ?');"><i
                                class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>


    </div>





</div>